*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main.html */

.mainPage {
    width: 1024px;
    height:512px;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('images/Bg1.png');
    overflow: hidden;
}

#startBtn {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    font-family: moonhouse;
    src: url(fonts/moonhouse.ttf);
    border-radius: 815px;
    color: #FFFFFF;
    display: inline-block;
    justify-content: center;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));

    
}

#instructionBtn {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    font-family: moonhouse;
    src: url(fonts/moonhouse.ttf);
    border-radius: 815px;
    color: #FFFFFF;
    display: inline-block;
    justify-content: center;
    max-width: 100%;
    min-width: 140px;
    padding: 19px 24px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
    margin-inline-start: 20px;
}

.buttonWrapper{
    width: 700px;
    height: 50px;
    margin: auto;
    margin-top: 230px;
    z-index: 200;
    text-align: center;
    flex-wrap: wrap;
}


/* index.html */
body { 
    font-family: 'Azeret Mono', monospace;
    background-color: #EEC629;
}

.wrapper {
    width: 1024px;
    height:512px;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('images/Bg2.png');
    overflow: hidden;
}

.highscore {
    font-family: 'Varela Round', sans-serif;
    color: white;
    margin-left: 50px;
    margin-top: 10px;
}

.yourscore {
    font-family: 'Varela Round', sans-serif;
    color: white;
    margin-left: 50px;
    margin-top: 10px;
}

.score{
    font-family: moonhouse;
    src: url(fonts/moonhouse.ttf);
    font-size: 70px;
    color:white;
    margin-left: 50px;

}

.countdown{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    text-align: center;
    float: right;
    margin-right: 50px;
    margin-top: 60px;
    background-image: url('images/countdown.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:80px;
    height:80px;
    padding:22px 0px;

}

.game {
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 320px;
    margin: auto;
    margin-top: 50px;
    z-index: 200;
    display: flex;
    flex-wrap: wrap;
    
}


.hole {
    flex: 1 0 33.33%;
    position: relative;
}

/* Afterpseudo elements 
In CSS, :after creates a pseudo-element that is the last child of the selected element. It is often used to add cosmetic content to an element with the content property. It is inline by default. */
.hole:after {
    content: '';
    display: block;
    background-image: url('images/hole.png') ;
    position: absolute;
    width: 226px;
    height:70px;
    z-index: 2;
    bottom:-10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.alien{
    background-image: url('images/alien.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(360px / 3);
    height: 151px;
    animation: animate 1s steps(3) infinite;
}

@keyframes animate {
    from {
        background-position: 0;
    }
    to{
        background-position: 360px;
    }
}

#audioBtn{
    background-color: #04AA6D;
    color:white;
    font-family: 'Azeret Mono', monospace;
    border-radius:999px;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;

/* try absolute, align self for flex or float left*/
  }


