*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: 'Azeret Mono', monospace;
    background-color: #EEC629;
}

.wrapper {
    width: 1024px;
    height:512px;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('images/Bg2.png');
    overflow: hidden;
}

.highscore {
    font-family: 'Varela Round', sans-serif;
    color: white;
    margin-left: 50px;
    margin-top: 30px;
}

.yourscore {
    font-family: 'Varela Round', sans-serif;
    color: white;
    margin-left: 50px;
    margin-top: 10px;
}

.score{
    font-family: moonhouse;
    src: url(fonts/moonhouse.ttf);
    font-size: 70px;
    color:white;
    margin-left: 50px;

}

.countdown{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    text-align: center;
    float: right;
    margin-right: 50px;
    margin-top: 60px;
    background-image: url('images/countdown.png');
    background-size: contain;
    background-repeat: no-repeat;
    width:80px;
    height:80px;
    padding:22px 0px;

}

