body { 
    font-family: 'Azeret Mono', monospace;
    background-color: #EEC629;
}

.document{
    width: 1024px;
    height:512px;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    margin-top: 8%;
}

/* Landing Page */

.mainPage {
    width: 1024px;
    height:512px;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('images/Bg1.png');
    overflow: hidden;
    display:flex;
}

.buttonWrapper{
    width: 700px;
    height: 50px;
    margin: auto;
    margin-top: 310px;
    text-align: center;
    flex-wrap: wrap;
}

#startBtn {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    font-family: moonhouse;
    src: url(fonts/moonhouse.ttf);
    border-radius: 815px;
    color: #FFFFFF;
    display: inline-block;
    justify-content: center;
    max-width: 100%;
    min-width: 140px;
    padding: 10px 15px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));  
}

#instructionBtn {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    font-family: moonhouse;
    src: url(fonts/moonhouse.ttf);
    border-radius: 815px;
    color: #FFFFFF;
    display: inline-block;
    justify-content: center;
    max-width: 100%;
    min-width: 140px;
    padding: 10px 15px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
    margin-inline-start: 20px;
}

.audioBtn{
    background-color: #04AA6D;
    color:white;
    font-family: 'Azeret Mono', monospace;
    border-radius:999px;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    left:50px; 
    padding: 1px 1px;
  }

/* Instructions Modal */
.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.instruction-modal{
    width: 400px;
    height: 360px;
    background-image: url('images/instructions.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-right: 50px;
}

.howToPlay{
    font-family: moonhouse;
    src: url(fonts/moonhouse.ttf);
    color: white;
    margin-top: 50px;
    margin-left: 75px;
    text-align: center;
}
    
.textInstructions{
    font-family: 'Azeret Mono', monospace;
    color: white;
    font-size: 80%;
    width: 50%;
    margin-top: -5px;
    margin-left: 138px;
    text-align: center;
}

#closeBtn {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    font-family: moonhouse;
    src: url(fonts/moonhouse.ttf);
    border-radius: 815px;
    color: #FFFFFF;
    display: inline-block;
    justify-content: center;
    max-width: 100%;
    min-width: 140px;
    padding: 10px 15px;
    margin-top: 5px;
    margin-left: 170px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));  
}

/* Game Start */

.wrapper {
    width: 1024px;
    height:512px;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('images/Bg2.png');
    overflow: hidden;
    display: none;
}

/* Anything related to score */
.scorewrapper{
    margin: 50px;
}
.highscore {
    font-family: 'Azeret Mono', monospace;
    color: white;
}

.yourscore {
    font-family: 'Azeret Mono', monospace;
    color: white;
}

.score{
    font-family: moonhouse;
    src: url(fonts/moonhouse.ttf);
    font-size: 70px;
    color:white;
}

/* countdown */
.cdwrapper{
    margin-left: auto; 
    margin-right: 0;
    padding: 50px;
}

.countdown{
   background-image: url('images/countdown.png');
   background-repeat: no-repeat;
   background-size: contain;
    width:80px;
    height:80px;
}

.timeLimit {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin-top:-57px;  
    font-size: 30px;     
}

/* House Alien and holes */
.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 320px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}


.hole {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}

/* Afterpseudo elements 
In CSS, :after creates a pseudo-element that is the last child of the selected element. It is often used to add cosmetic content to an element with the content property. It is inline by default. */
.hole:after {
    content: '';
    display: block;
    background-image: url('images/hole.png') ;
    position: absolute;
    width: 226px;
    height:70px;
    bottom:-10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.alien{
    background-image: url('images/alien.png');
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(360px / 3);
    height: 151px;
    z-index: 2;
    animation: animate 1s steps(3) infinite;
    background-position: bottom;
    transition: all 0.4s;
}

@keyframes animate {
    from {
        background-position: 0;
    }
    to{ 
        background-position: 360px;
    }}

.hole.up .alien {
    top: 50%;
  }


  /* Game Ends, Time's up modal */
  .timesUp-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
  }

  .score-modal{
    width: 600px;
    height: 400px;
    background-image: url('images/gameover.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;

  }

  .endGame{
    font-family: moonhouse;
    src: url(fonts/moonhouse.ttf);
    color: white;
    margin-top: 180px;
    margin-left: -70px;
    text-align: center;
    font-size: 30px;

}

.textEndGame{
    text-align: center;
    margin-right: 70px;
    margin-top: 15px;
    color:white;
}

.buttonWrapper2{
    width: 530px;
    height: 50px;
    margin-top: -10px;
    text-align: center;
    flex-wrap: wrap;
}

#replayBtn {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    font-family: moonhouse;
    src: url(fonts/moonhouse.ttf);
    border-radius: 815px;
    color: #FFFFFF;
    max-width: 100%;
    min-width: 70px;
    padding: 10px 15px;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));  
}


#mainBtn {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    font-family: moonhouse;
    src: url(fonts/moonhouse.ttf);
    border-radius: 815px;
    color: #FFFFFF;
    max-width: 100%;
    min-width: 70px;
    padding: 10px 15px;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));  
}
    
